.topbar {
  width: 100%;
  margin: 5px auto 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.page-item:first-child .page-link {
  border-radius: 0 6px 6px 0 !important;
}
.page-item:last-child .page-link {
  border-radius: 6px 0 0 6px !important;
}
